@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 62.5%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background: url("../css/images/icon-arrow-down.svg") no-repeat center, url("../css/images/desktop/image-header.jpg") no-repeat;
  background-size: 1.5em 5.5em,100vw 100%;
  color: white;
  height: 100vh;
}

main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main nav ul {
  list-style: none;
  padding: 1em 1em;
}

main nav ul:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  font-family: "Barlow", sans-serif;
}

main nav ul:last-child li {
  padding: .5em 1em;
}

main nav ul:last-child li:hover {
  background-color: white;
  color: black;
  border-radius: 3.3rem;
  font-weight: 550;
}

main header {
  text-align: center;
  letter-spacing: 1em;
  font-family: "Fraunces", serif;
  font-size: 1.7rem;
  margin: 2em 0 0;
}

.tyb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.tyb aside {
  padding: 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: intitial;
      -ms-flex-align: intitial;
          align-items: intitial;
}

.tyb aside h1 {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 3.5rem;
}

.tyb aside p {
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  padding: 2em 0;
}

.tyb aside a {
  color: #23303e;
  border-bottom: 0.5rem solid #fe7867;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Fraunces", serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tyb picture {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tyb picture img {
  width: 100%;
  max-width: 100%;
  min-width: 43rem;
}

.sra {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.sra picture {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sra picture img {
  width: 100%;
  max-width: 100%;
  min-width: 43rem;
}

.sra aside {
  padding: 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: intitial;
      -ms-flex-align: intitial;
          align-items: intitial;
}

.sra aside h1 {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 3.5rem;
}

.sra aside p {
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  padding: 2em 0;
}

.sra aside a {
  color: #23303e;
  border-bottom: 0.5rem solid #fad400;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Fraunces", serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gdpy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 85vh;
}

.gdpy .grdn {
  background: url("../css/images/desktop/image-graphic-design.jpg") no-repeat local;
  background-size: 100% 100%;
  color: #25564b;
  text-align: center;
}

.gdpy .grdn aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: intitial;
      -ms-flex-align: intitial;
          align-items: intitial;
  height: 85vh;
}

.gdpy .grdn aside h1 {
  font-family: "Fraunces", serif;
  padding: .7em 0;
}

.gdpy .grdn aside p {
  margin: 0 7em;
  padding: .5em 0 1.9em;
  font-family: "Barlow", sans-serif;
}

.gdpy .phty {
  background: url("../css/images/desktop/image-photography.jpg") no-repeat local;
  color: #19536b;
  background-size: 110% 100%;
  text-align: center;
}

.gdpy .phty aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: intitial;
      -ms-flex-align: intitial;
          align-items: intitial;
  height: 85vh;
}

.gdpy .phty aside h1 {
  font-family: "Fraunces", serif;
  padding: .7em 0;
}

.gdpy .phty aside p {
  margin: 0 7em;
  padding: .5em 0 1.9em;
  font-family: "Barlow", sans-serif;
}

.clntst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.clntst header {
  font-family: "Fraunces", serif;
  color: #a7abae;
}

.clntst aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: intitial;
          flex-direction: intitial;
  -webkit-box-pack: intitial;
      -ms-flex-pack: intitial;
          justify-content: intitial;
  -webkit-box-align: intitial;
      -ms-flex-align: intitial;
          align-items: intitial;
  text-align: center;
  padding: 0 2em;
}

.clntst aside img {
  border-radius: 4rem;
  width: 6rem;
}

.clntst aside p {
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  padding: 0 1em;
  font-size: 2rem;
}

.clntst aside p:last-child {
  color: #a7abae;
  font-family: "Barlow", sans-serif;
}

.clntst aside h2 {
  font-family: "Fraunces", serif;
}

.gllry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.gllry img {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: intitial;
      -ms-flex-pack: intitial;
          justify-content: intitial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(134, 243, 221, 0.747);
}

footer picture:first-child {
  margin: 2.5em 0 1em;
}

footer picture:first-child img {
  background-color: #458c7e;
}

footer nav {
  margin: 1.1em 0;
}

footer nav li {
  list-style: none;
  display: inline;
  padding: 0 1em;
}

footer nav li a {
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

footer picture:last-child {
  margin: 2.5em 0 1em;
}

footer picture:last-child img {
  padding: 0 .7em;
}
/*# sourceMappingURL=index.css.map */