//graphic design text
$gdt:hsl(167, 40%, 24%);
//photography text 
$pt:hsl(198, 62%, 26%);
//footer text
$ft:hsl(168, 34%, 41%);

//sec 2,3 -> <h1> & <a> and sec 5 -> sec2 ->h2(name)
$test4:hsl(212, 27%, 19%);

//sec5 -> sec->p(cmnts)
$test5:hsl(213, 9%, 39%);
//sec 2,3->section->p 
$test6:hsl(232, 10%, 55%);

//client testimonals and company position
$test7:hsl(210, 4%, 67%);

$white:hsl(0,0,100%)