@import  'variables';
@import 'font';
@import 'mixins';
html,body{
    @include default;
}
.container{
    @include flex(column,unset,unset);
    font-size: 1.8rem;
}
*{
    margin: 0;
    padding: 0;
}
main{
    background: url('/css/images/icon-arrow-down.svg') no-repeat center,url('/css/images/desktop/image-header.jpg') no-repeat;
    background-size:1.5em 5.5em,100vw 100%;  
    color: $white;
    height: 100vh;
    nav{
        @include flex(row,space-between,flex-end);
        ul{
            list-style: none;
            padding: 1em 1em;
            &:last-child{
                @include flex(row,unset,unset);
                font-family: $barlow;
                li{
                    padding:.5em 1em;
                    &:hover{
                        background-color:$white;
                        color:black;
                        border-radius: 3.3rem;
                        font-weight: 550
                    }
                }
            }
        }
        
    }
    header{
       text-align: center;
       letter-spacing: 1em;
       font-family: $fraunces;
       font-size: 1.7rem;
    }
}
.tyb{
    @include flex(initial,unset,center);
    aside{
        flex-basis: 50%;
        padding: 0 5em;
        h1{
            color:$test4;
            font-family: $fraunces;
            font-size: 3.5rem;
        }
        p{
            color: $test5;
            font-family: $barlow;
            padding: 2em 0;
        }
        a{
            color: $test4;
            border-bottom: .5rem solid $red;
            border-radius: 5px;
            text-decoration: none;
            font-family: $fraunces;
        }
    }
    picture{
        width: 100%;
        flex-basis: 8 0%;
        height: 85vh;
        img{
            width: 100%;
            height: 85vh;
        }
    }
}
.sra{
    @include flex(initial,center,center);
    picture{
        width: 100%;
        height: 85vh;
        flex-basis: 80%;
        img{
            width: 100%;
            height: 85vh;
        }
    }
    aside{
        flex-basis: 50%;
        padding: 0 5em;
        h1{
            
            color:$test4;
            font-family: $fraunces;
            font-size: 3.5rem;
        }
        p{
            color: $test5;
            font-family: $barlow;
            padding: 2em 0;
        }
        a{
            color: $test4;
            border-bottom: .5rem solid $Yellow;
            border-radius: 5px;
            text-decoration: none;
            font-family: $fraunces;
        }
    }
}