@import  'variables';
@import 'font';
@import 'mixins';
html,body{
    @include default;
}
.container{
    @include flex(column,unset,unset);
    font-size: 1.8rem;
}
*{
    margin: 0;
    padding: 0;
}
.phone{
    display: none;
}
main{
    background: url('../css/images/icon-arrow-down.svg') no-repeat center,url('../css/images/desktop/image-header.jpg') no-repeat;
    background-size:1.5em 5.5em,100vw 100%;  
    color: $white;
    height: 100vh;
    nav{
        @include flex(row,space-between,flex-end);
        ul{
            list-style: none;
            padding: 1em 1em;
        }
        .dmenu{
            @include flex(row,unset,unset);
            font-family: $barlow;
            li{
                padding:.5em 1em;
                &:last-child{
                    background-color:$white;
                    color:black;
                    border-radius: 3.3rem;
                    font-weight: 550;
                    font-family: $fraunces;
                    &:hover{
                        background-color:rgb(64, 217, 255);
                        color: $test4;
                    }   
                }
            }
        }
    }
    header{
       text-align: center;
       letter-spacing: 1em;
       font-family: $fraunces;
       font-size: 1.7rem;
       margin: 2em 0 0;
    }
}
.tyb{
    display: grid;
    grid-template-columns: 50% 50%;
    aside{
        padding: 0 5em;
        @include flex(column,center,intitial);
        h1{
            color:$test4;
            font-family: $fraunces;
            font-size: 3.5rem;
        }
        p{
            color: $test5;
            font-family: $barlow;
            padding: 2em 0;
        }
        a{
            color: $test4;
            border-bottom: .5rem solid $red;
            border-radius: 5px;
            text-decoration: none;
            font-family: $fraunces;
            width: fit-content;
        }
    }
    picture{
        width:fit-content;
        img{
            width: 100%;
            max-width: 100%;
            min-width: 43rem;
        }
    }
}
.sra{
    display: grid;
    grid-template-columns: 50% 50%;
    picture{
        width:fit-content;
        img{
            width: 100%;
            max-width: 100%;
            min-width: 43rem;
        }
    }
    aside{
        padding: 0 5em;
        @include flex(column,center,intitial);
        h1{
            color:$test4;
            font-family: $fraunces;
            font-size: 3.5rem;
        }
        p{
            color: $test5;
            font-family: $barlow;
            padding: 2em 0;
        }
        a{
            color: $test4;
            border-bottom: .5rem solid $Yellow;
            border-radius: 5px;
            text-decoration: none;
            font-family: $fraunces;
            width: fit-content;
        }
    }
}
.gdpy{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 85vh;   
    .grdn{
        background: url('../css/images/desktop/image-graphic-design.jpg') no-repeat local;
        background-size:100% 100%;
        color: $gdt;
        text-align: center; 
        aside{
            @include flex(column,flex-end,intitial);
            height: 85vh;
        h1{
            font-family: $fraunces;
            padding: .7em 0;
        }
        p{
            margin: 0 7em;
            padding: .5em 0 1.9em;
            font-family: $barlow;
        }
    }
    }
    .phty{
        background: url('../css/images/desktop/image-photography.jpg')no-repeat local;
        color: $pt;
        background-size: 110% 100%;
        text-align: center;
        aside{
            @include flex(column,flex-end,intitial);
            height: 85vh;
        h1{
            font-family: $fraunces;
            padding: .7em 0;
        }
        p{
            margin: 0 7em;
            padding: .5em 0 1.9em;
            font-family: $barlow;
        }
    }
    }
}
.clntst{
    @include flex(column,space-evenly,center);
    height: 100vh;
    header{
        font-family: $fraunces;
        color:$test7;
    }
    aside{
        @include flex(intitial,intitial,intitial);
        text-align: center;
        padding: 0 2em;
        img{
            border-radius: 4rem;
            width: 6rem;
        }
        p{
            color:$test5;
            font-family: $barlow;
            padding: 0 1em;
            font-size:2rem;
            &:last-child{
            color: $test7;
            font-family: $barlow;
            }
        }
        h2{
            font-family: $fraunces;
        }

    }
}
.gllry{
    display:grid;
    grid-template-columns: auto auto auto auto;
    img{
        width:100%;
    }
}
footer{
    @include flex(column,intitial,center);
    background-color:hsla(168, 82%, 74%, 0.747);
    picture:first-child{
        margin: 2.5em 0 1em;
    }
    nav{
        margin: 1.1em 0;
    li{
        list-style: none;
        display: inline;
        padding: 0 1em;
    a{
        color: $ft;
        font-family: $barlow;
        text-decoration: none;
    }
}
}
    picture:last-child{
        margin: 2.5em 0 1em;
        img{
        padding: 0 .7em;
        }
    }
}